<div id="main">
    <h1>Edit Material</h1>

    <div class="form col-lg-5 col-md-12 col-sm-12 col-xs-9">
        <form #materialForm="ngForm" (ngSubmit)="editMaterial(materialForm.value)" autocomplete="off">

            <div class="form-group">
                <label for="name">Name:</label>
                <em *ngIf="materialForm.controls.name?.invalid && (materialForm.controls.name?.touched)">Required</em>
                <input [(ngModel)]="material.material_name" name="name" id="name" type="text" class="form-control" placeholder="Material name..." required/>
            </div>

            <div class="form-group">
                <label for="material">Material Type:</label>
                <select [(ngModel)]="material.name" name="material" class="form-control">
                    <option *ngFor="let type of types" value="{{ type.id }}">{{ type.name }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="name">Width:</label>
                <em *ngIf="materialForm.controls.width?.invalid && (materialForm.controls.width?.touched)">Required</em>
                <input [(ngModel)]="material.original_width" name="width" id="width" type="number" step="0.01" min="0" class="form-control" placeholder="Material width..." required/>
            </div>

            <div class="form-group">
                <label for="name">Height:</label>
                <em *ngIf="materialForm.controls.height?.invalid && (materialForm.controls.height?.touched)">Required</em>
                <input [(ngModel)]="material.original_height" name="height" id="height" type="number" step="0.01" min="0" class="form-control" placeholder="Material height..." required/>
            </div>

            <div class="form-group">
                <label for="name">Depth:</label>
                <em *ngIf="materialForm.controls.depth?.invalid && (materialForm.controls.depth?.touched)">Required</em>
                <input [(ngModel)]="material.original_depth" name="depth" id="depth" type="number" step="0.01" min="0" class="form-control" placeholder="Material depth..." required/>
            </div>

            <div class="form-group">
                <label for="name">Code:</label>
                <em *ngIf="materialForm.controls.code?.invalid && (materialForm.controls.code?.touched)">Required</em>
                <input [(ngModel)]="material.code" name="code" id="code" type="text" class="form-control" placeholder="Material code..." required/>
            </div>

            <div class="form-group">
                <em class="optional">(Optional)</em>
                <label for="comment">Description:</label>
                <textarea [(ngModel)]="material.description_m" name="desc" class="form-control" rows="5" id="desc"></textarea>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="materialForm.invalid">Save</button>
            <button type="button" class="cBtn btn btn-default" (click)="cancel()">Cancel</button>
        </form>
        <br>
        <br>
        <div *ngIf="emptyfelds" class="alert alert-danger">Please, fill all the fields!</div>
        <div *ngIf="notCreated" class="alert alert-danger">Failed to edit material!</div>
        <div *ngIf="noTypes" class="alert alert-danger">Failed to get matirial typs!</div>
        <div *ngIf="editedMaterial" class="alert alert-success">Material edit!</div>
    </div>
</div>