<div class="pass-rest">
    <div class="col-md-12">
        <h3>Reset Password</h3>
    </div>
    <hr>
    <div class="col-md-5">
        <form [formGroup]="rest" (ngSubmit)="restPass(rest.value)" autocomplete="off">
            <div class="form-group" [ngClass]="{'error': email.invalid && email.dirty}">
                <label for="email">Email</label>
                <em *ngIf="email.invalid && email.dirty">Required</em>
                <input formControlName="email" id="email" class="form-control" type="text" placeholder="Enter you email here">
            </div>
            <button type="button" (click)="back()" class="backBtn btn btn-default">Back</button>
            <button type="submit" class="btn btn-primary" [disabled]="rest.invalid">Send</button>
        </form>
        <br>
        <div *ngIf="mailSend" class="alert alert-success">Mail send!</div>
        <div *ngIf="mailExists" class="alert alert-danger">Problem with sending mail! </div>
    </div>
</div>