<div id="fixed-nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Materials Inventory</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">


      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="auth.isAuthenticated() || adminAuth.isAdminAuthenticated()" href="#" [routerLink]="['user/profile']" style="color: skyblue">Profile</a>
            <a *ngIf="(!auth.isAuthenticated() && auth.isLoginPage()) && !adminAuth.isAdminAuthenticated()" href="#" [routerLink]="['user/reqister']"
              style="color: skyblue">Register</a>
            <a *ngIf="auth.isAuthenticated() || adminAuth.isAdminAuthenticated()" (click)="logout()" class="logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>