#fixed-nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
    left: 0;
    overflow-x: hidden;
}

#srchForm{
    padding-right: 120px;
}

@media (max-width: 1200px) { #srchForm{display:none} }

li > a.active { 
    color: skyblue !important;  
}

.logout{
    padding-left: 20px;
    color: skyblue !important;
}

.logout:hover{ 
    text-decoration: underline !important;
    cursor: pointer;
}

button.search:hover{
    background-color: skyblue;
    color: #363d42 !important;
}

.list-group-item{
    color: white;
    background-color: #6d7f8e;
}