.table{
    /*color: white !important;*/
    margin-top: 40px;
    margin-left: 10px;
}

td i{
    padding: 0px 10px;
}

td i:hover{
    cursor: pointer;
    color: skyblue;
}

.newOrder{
    color: skyblue;
    background-color: #181B20;
    border: 1px solid skyblue;
    border-radius: 5px;
    padding: 7px 15px;
    cursor: pointer;
}

.paind{
    text-align: center;
    color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 3px;
    padding: 5px 14px;
}

.notPaid{
    text-align: center;
    color: red;
    border: 1px solid red;
    border-radius: 3px;
    padding: 5px;
}

.newColor{
    color: white !important;
}

.moreTR{
    cursor: pointer;
    position: relative;
}

table td{
    border-top: none;
    text-align: center;
}

.table2{
    background-color: #3e464a;
}

h4.title {
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
}

table.table2 {
    margin-left: 30px;
}