#main h1{
    font-size: 34px;
    padding: 20px 0 14px 29px;
}

td i{
    padding: 0px 10px;
}

i{
    color: gray;
}

td i:hover{
    cursor: pointer;
    color: skyblue;
}

.newOrder{
    margin-top: 10px;
    font-size: 19px;
}

.paind{
    text-align: center;
    color: greenyellow;
    border: 1px solid greenyellow;
    border-radius: 3px;
    padding: 5px 14px;
}

.notPaid{
    text-align: center;
    color: red;
    border: 1px solid red;
    border-radius: 3px;
    padding: 5px;
}

.th{
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

.table2{
    border: 1px solid #c9c9c9;
}

.newColor{
    color: black !important;
    border: 1px solid #c9c9c9;
}

.moreTR{
    cursor: pointer;
    position: relative;
}

h4.title {
    display: flex;
    padding-left: 15px;
    padding-top: 10px;
}

table.table2 {
    margin-left: 30px;
}

.photoImg{
    position: relative;
    text-align: center;
    width: 196px;
    max-width: 196px;
}

.photoImg img{
    max-height: 100px;
}

.removePhoto:hover{
    color: skyblue;
}

.image-upload > input{
    display: none;
}

.image-upload img{
    width: 30px;
    cursor: pointer;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
    padding: 30px 20px 10px 20px;
}

#pag{
    display: flex; 
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: -20px;
}

th i{
    transform: rotate(90deg);
    font-size: 13px;
    color: slategray;
}