<div *ngIf="load">
    <h5>Order image:</h5>
    <div *ngIf='image_url' class='photoImg'>
        <img src="{{ env + image_url }}">
        <div class="removePhoto" (click)="removePhoto()">
            <span class='far fa-trash-alt'></span>
            <i>remove image</i>
        </div>
    </div>
    <div *ngIf="!image_url" class='image-upload'>
        <label for="file-input">
            <img src="./../../../assets//images/upload.png" />
            <i class="imgUp"> Click to upload photo</i>
        </label>
        <input id="file-input" type="file" ng2FileSelect [uploader]="uploader"> 
    </div>
</div>