<div id="mian">
    <h1>Produces</h1>

    <div class="mat-elevation-z8">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="producers_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.producers_id}} </td>
            </ng-container>

            <ng-container matColumnDef="producers_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.producers_name}} </td>
            </ng-container>

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="address1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Secondary Address </th>
                <td mat-cell *matCellDef="let element"> {{element?.address1}} </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
                <td mat-cell *matCellDef="let element"> {{element?.city}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> State </th>
                <td mat-cell *matCellDef="let element"> {{element?.state}} </td>
            </ng-container>

            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
                <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element?.phone}} </td>
            </ng-container>

            <ng-container matColumnDef="web">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Web </th>
                <td mat-cell *matCellDef="let element"> {{element?.web}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <i class="far fa-edit" [routerLink]="['edit', element.producers_id]" title="Edit"></i>
                    <i class="far fa-trash-alt" (click)="deleteProduce(element.producers_id)" title="Delete"></i>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="float-right">
        <a href="#" [routerLink]="['new']" routerLinkActive="active" class="btn"><button mat-button color="primary" class="newProduce">Add New</button></a>
    </div>

</div>