<div (click)="toggleContent()" class="items pointable">
    <div id="more">
        More<i class="fas fa-angle-double-down"></i>
    </div>
    <ng-content *ngIf="visible"></ng-content>
</div>
<div (click)="toggleTable2()">
    <div id="more2" *ngIf="visible">
        More<i class="fas fa-angle-double-down"></i>
    </div>
    <div *ngIf="visibleTabel2">
        <h4 class="title">Order Items Elements</h4>
        <table class="table2">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Order Item ID</th>
                    <th>Width</th>
                    <th>Height</th>
                </tr>
            </thead>
            <tbody *ngFor='let element of order_items_elements'>
                <tr>
                    <td>{{ element.id }}</td>
                    <td>{{ element.order_items_id }}</td>
                    <td>{{ element.width }}</td>
                    <td>{{ element.height }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

