#more{
    cursor: pointer;
    background-color: #363d42;
    padding: 3px 0;
}

div#more {
    color: skyblue;
    font-size: 18px;
    font-weight: 100;
}

div#more i{
    padding-left: 10px;
    padding-top: 5px;
}

#more2{
    cursor: pointer;
    background-color: #363d42;
    padding: 3px 0;
    margin-left: 42px;
    margin-top: -11px;
    width: 233px;
}

div#more2 {
    color: skyblue;
    font-size: 18px;
    font-weight: 100;
}

div#more2 i{
    padding-left: 10px;
    padding-top: 5px;
}

h4.title {
    display: flex;
    padding-left: 80px;
    padding-top: 17px;
}

.table2{
    margin-left: 110px;
    background-color: #3e464a;
}

.newColor{
    color: white;
}