<div class="mainOrder">
    <h1 id="title">New Order</h1>
    <div class="container-fluid">
        <div class="row">
            <div class=".col-4 col-lg-4">
                <mat-form-field>
                    <input matInput name="created" #created="ngModel" [matDatepicker]="dateCreated" [min]="minDate"
                        date="true" [(ngModel)]="order.date_created" placeholder="Date Created" required>
                    <mat-datepicker-toggle matSuffix [for]="dateCreated"></mat-datepicker-toggle>
                    <mat-datepicker #dateCreated></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput name="progress" #progress="ngModel" [matDatepicker]="dateInProgress" [min]="minDate"
                        date="true" [(ngModel)]="order.date_in_progress" placeholder="Date In Progress">
                    <mat-datepicker-toggle matSuffix [for]="dateInProgress"></mat-datepicker-toggle>
                    <mat-datepicker #dateInProgress></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput name="finished" #finished="ngModel" [matDatepicker]="dateFinished" [min]="minDate"
                        date="true" [(ngModel)]="order.date_finished" placeholder="Date Finished">
                    <mat-datepicker-toggle matSuffix [for]="dateFinished"></mat-datepicker-toggle>
                    <mat-datepicker #dateFinished></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput name="delivery" #delivery="ngModel" [matDatepicker]="dateDelivery" [min]="minDate"
                        date="true" [(ngModel)]="order.date_delivery" placeholder="Date Delivery">
                    <mat-datepicker-toggle matSuffix [for]="dateDelivery"></mat-datepicker-toggle>
                    <mat-datepicker #dateDelivery></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput name="requested" #requested="ngModel" [matDatepicker]="requestedDate" [min]="minDate"
                        date="true" [(ngModel)]="order.requested_date" placeholder="Requested Date" required>
                    <mat-datepicker-toggle matSuffix [for]="requestedDate"></mat-datepicker-toggle>
                    <mat-datepicker #requestedDate></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-select [(ngModel)]="order.status_id" placeholder="Order status" [formControl]="selected"
                        [errorStateMatcher]="matcher1" required>
                        <mat-option>Clear</mat-option>
                        <mat-option *ngFor="let statuse of statuses" value="{{ statuse.id }}">{{ statuse.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-select [(ngModel)]="order.payment" placeholder="Payment" [formControl]="selected3"
                        [errorStateMatcher]="matcher3" required>
                        <mat-option>Clear</mat-option>
                        <mat-option value="0">Not Paid</mat-option>
                        <mat-option value="1">Paid</mat-option>
                    </mat-select>
                    <mat-error *ngIf="selected3.hasError('required')">You must make a selection</mat-error>
                </mat-form-field>
            </div>
            <div class=".col-4 col-lg-4">
                <mat-form-field>
                    <input [(ngModel)]="order.price" matInput name='price' type='number' step="0.1" min="0" placeholder='Price'>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input [(ngModel)]="order.delivery_price" matInput name='delivery_price' type='number' step="0.1"
                        min="0" placeholder='Delivery Price'>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="order.adress" matInput placeholder="Address" [formControl]="addressFormControl"
                        [errorStateMatcher]="address" required>
                    <mat-error *ngIf="addressFormControl.hasError('required')">
                        Address is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <input [(ngModel)]="order.adress1" matInput name='adress1' type='text' placeholder='Secondary Address'>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="order.state" matInput placeholder="State" [formControl]="stateFormControl"
                        [errorStateMatcher]="state" required>
                    <mat-error *ngIf="stateFormControl.hasError('required')">
                        State is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-select [(ngModel)]="order.country" placeholder="Countrie" [formControl]="selected2"
                        [errorStateMatcher]="matcher1" required>
                        <mat-option>Clear</mat-option>
                        <mat-option *ngFor="let countrie of countries" value="{{ countrie.id }}">{{ countrie.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="selected2.hasError('required')">You must make a selection</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-select [(ngModel)]="order.delivery_type_id" placeholder="Delivery Type" [formControl]="selected4"
                        [errorStateMatcher]="matcher4" required>
                        <mat-option>Clear</mat-option>
                        <mat-option *ngFor="let deliveryType of deliveryTypes" value="{{ deliveryType.id }}">{{
                            deliveryType.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="selected4.hasError('required')">You must make a selection</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class=".col-12 col-lg-12">
                <button (click)="saveOrder()" type="button" class="btn btn-primary">Save</button>
                <button (click)="cancelOrder()" type="button" class="cancel btn btn-outline-dark">Cancel</button>
            </div>
        </div>
        <div *ngIf="fail" class="alert alert-danger">Problem!</div>
        <div *ngIf="success" class="alert alert-success">Success!</div>
    </div>
</div>