/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background-color: #f2f2f2;
}

h1{
    /*color: white;*/
}

.thumbnail{
    padding: 15px;
    padding-top: 25px;
    background-color: slategray;
    color: white;
    min-height: 240px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid skyblue;
    margin: 1em 0;
    padding: 0; 
}

#main{
    padding-top: 60px;
    padding-left: 250px;
}

#main > h1{
    padding-left: 40px;
    padding-top: 20px;
    font-size: 40px;
}