<div class="errorToken" *ngIf="tokenNotFound">
    <h1>Token not found</h1>
</div>

<div class="errorToken" *ngIf="tokenExpired">
    <h1>Token expired</h1>
</div>

<div *ngIf="!tokenNotFound || !tokenExpired" class="bg-contact2">
    <div class="container-contact2">
        <div class="wrap-contact2">
            <form  #newPassForm="ngForm" (ngSubmit)="saveUserPass(newPassForm.value)" autocomplete="off" class="contact2-form validate-form" novalidate>

                <h1 class="contact2-form-title">Reset password</h1>
                <h3 class="contact2-form-sec1-title">Enter a new password for your Admin Panel</h3>

                <div class="form-group">
                    <em *ngIf="newPassForm.controls.newPass?.invalid && (newPassForm.controls.newPass?.touched)">Required</em>
                    <input (ngModel)="newPass" name="newPass" id="newPass" type="password" class="input-feral form-control" placeholder="New password" required>   
                </div>
                <div class="form-group input-feral2">
                    <em *ngIf="newPassForm.controls.confPass?.invalid && (newPassForm.controls.confPass?.touched)">Required</em>
                    <input (ngModel)="confPass" name="confPass" id="confPass" type="password" class="input-feral form-control" placeholder="New password" required> 
                </div>
                <div class="save-btn">
                    <button type="submit" id="submit" [disabled]="newPassForm.invalid">Save</button>
                </div>

            </form>
            <br>
            <div *ngIf="passInvalid" class="alert alert-danger">Passwords dont match</div>
            <div *ngIf="noValidToken" class="alert alert-danger">Missing Token</div>
            <div *ngIf="error" class="alert alert-danger">Resset Passwords Falid</div>
            <div *ngIf="validPass" class="alert alert-success">Passwords Changed</div>
        </div>
    </div>
</div>